body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}
.header a {
    color: #f9faf8;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}
.nav-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 64px 0;
}
.hero-desc h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.info {
    display: flex;
    justify-content: center;
}
.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 24px 0;
}
.info img {
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}
.info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    padding-bottom: 128px;
}
.info-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 56px;
}
.RENAME-ME {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    text-align: center;
    color: #1f2937;
    gap: 8px;
}
.quote {
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.quote-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    padding: 96px 0 60px 0;
}
.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding-left: 128px;
}
.quotee {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    padding-right: 128px;
    width: 100%;
}
.footer {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 36px;
}
.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}
.button {
    background-color: #3882f6;   
}
.test {
    display: flex;
    justify-content: center;
    background-color: bisque;
    padding: 8px;
}
.test-nest {
    max-width: 1024px;
}