body {
    font-family: "roboto", sans-serif;
}
.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
.hero {
    font-size: 18px;
    color: #e5e7eb;
}
.hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
}
.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}
.button {
    background-color: #3882f6;   
}