body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}
.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 64px;
}
.header a {
    color: #f9faf8;
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}
.hero {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
}
.hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}
.info img {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 12px;
}
.info-container {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-bottom: 48px;
    gap: 64px;
}
.RENAME-ME {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 150px;
}
.info-text {
    text-align: center;
    margin-top: 8px;
    color: #1f2937;
}
.quote {
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 896px;
    padding-top: 128px;
}
.quotee {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 8px 104px 8px;
}
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 36px;
}
.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
}
.button {
    background-color: #3882f6;   
}
